---
import Layout from '@layouts/Default.astro';
import RecentBlogPosts from '@components/generic/RecentBlogPosts.astro';
import MobileSocials from '@components/home/MobileSocials.astro';
import { Pill } from '@eliancodes/brutal-ui';
import { Button } from '@eliancodes/brutal-ui';
import { Card } from '@eliancodes/brutal-ui';
import { Image } from 'astro:assets';
import myImage from '../assets/s1.png'; 
import myImage3 from '../assets/output-onlinegiftools.gif'; 
import BaseFooter from '@components/layout/BaseFooter.astro';
import {slide} from "astro:transitions";

const builtWith = [
  { name: 'Astro', url: 'https://astro.build/' },
  { name: 'UnoCSS', url: 'https://uno.antfu.me/' },
  {
    name: 'Content Collections',
    url: 'https://docs.astro.build/en/guides/content-collections/',
  },
  { name: 'RSS', url: 'https://docs.astro.build/en/guides/rss/' },
  {
    name: 'Sitemap',
    url: 'https://docs.astro.build/en/guides/integrations-guide/sitemap/',
  },
  { name: 'Vercel', url: 'https://vercel.com' },
  { name: 'TypeScript', url: 'https://www.typescriptlang.org/' },
];
---

<Layout
  title='Home'
  pageTitle='Carlos Alarc칩n |Home'
  description='Una p치gina personal de difusi칩n de ingenier칤a.'
>
  <main class='bg-yellow p-6'>
    <MobileSocials />
    <section id='about' class='grid md:grid-cols-8 gap-8 mt-4'>
      <h2 class='hidden'>About Brutal</h2>
      <div class='flex flex-col md:col-span-6' transition:animate={slide({duration: "2s"})}>
        <Card>
          <div class='flex flex-col md:col-span-6'>
            <p class='mt-4 outfit text-2xl md:text-5xl lg:text-7xl'>
              Ingeniero Civil Mec치nico 
            </p>
            <p class='mt-2 outfit text-xl md:text-3xl lg:text-4xl'>
              Un sitio dedicado a mi profesi칩n y trabajos que me gustar칤a compartirles 游
            </p>
            
          </div>
            <Button target={'_self'} href='/blog/'>
              Visita el blog &rarr;
            </Button>
          
          
        </Card>
        
        
      </div>
      
      <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

      <dotlottie-player src="https://lottie.host/46e6ce3f-f68e-4f04-8607-c1491330da09/3XOUVlbTmn.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>        </Card>
      </section>

      <section class='mt-8 grid md:grid-cols-2 gap-8 transition fadeInRight'>
      <div class="flex flex-col gap-8 ">
        <Card>
          <h2 class='text-2xl md:text-4xl lg:text-6xl mb-4 dm-serif'>
            Un poco de mi
          </h2>
          <p class='poppins'>
            
            Soy especialista en
            <ul class="list-disc">
                <li>Termodin치mica y dise침o de m치quinas t칠rmicas, climatizaci칩n</li>
                <li>Dise침o computarizado CAD (Freecad, Autocad, Solidworks, Inventor)</li>
                <li>Simulaci칩n de fluidos Computarizado (CFD) en software como Ansys Fluent y OpenFoam</li>
                <li>Dise침o de redes de tuber칤as y bombas (Piping)</li>
                <li>Ingenier칤a de Mantenimiento</li>
                <li>Ingenier칤a de Operaciones</li>
                <li>Dise침o estructural y de m치quinas</li>
                <li>Consultor칤a de negocios en log칤stica,mantenimiento, contratos, RR.HH., cadena de abastecimiento, ventas, finanzas y proyectos</li>
            </ul>
          
          
            Mi inter칠s es utilizar las herramientas m치s adecuadas para apoyar el desarrollo industrial y sostenible en el pa칤s.
          
            

           
          </p>
      
        
        </Card>
  
        <Card>
          <h2 class='text-2xl md:text-4xl lg:text-6xl mb-8 dm-serif'>
            Brutal is built with
          </h2>
          <ul class='flex gap-4 flex-wrap'>
            {
              builtWith.map((item) => (
                <li>
                  <Pill>
                    <a
                      class='sanchez'
                      href={item.url}
                      target='_blank'
                      title={`Go to ${item.name}`}
                    >
                      {item.name}
                    </a>
                  </Pill>
                </li>
              ))
            }
          </ul>
        </Card>
      </div>
     
        <Card>
          <h2 class='text-2xl md:text-4xl lg:text-6xl mb-8 dm-serif'>
            Brutal is built with
          </h2>
          <p >
            Brutal is a theme built with Astro, UnoCSS by <a
              href='https://www.elian.codes/'>Elian</a
            >. It's a simple, fast, and modern theme that is easy to use and
            customize. Mainly meant to power blogs and personal websites.
          </p>
        </Card>
      
    </section>

    <section class='mt-8 grid md:grid-cols-3 gap-8'>
      <div class='col-span-2'>
        <Card>
          <h2 class='text-2xl md:text-4xl lg:text-6xl mb-8 dm-serif'>
            Brutal is built with
          </h2>
          <ul class='flex gap-4 flex-wrap'>
            {
              builtWith.map((item) => (
                <li>
                  <Pill>
                    <a
                      class='sanchez'
                      href={item.url}
                      target='_blank'
                      title={`Go to ${item.name}`}
                    >
                      {item.name}
                    </a>
                  </Pill>
                </li>
              ))
            }
          </ul>
        </Card>
      </div>
      <div >
        <Card>
          <h2 class='text-2xl md:text-4xl lg:text-6xl mb-8 dm-serif'>
            Brutal is built with
          </h2>
          <p >
            Brutal is a theme built with Astro, UnoCSS by <a
              href='https://www.elian.codes/'>Elian</a
            >. It's a simple, fast, and modern theme that is easy to use and
            customize. Mainly meant to power blogs and personal websites.
          </p>
        </Card>
      </div>
      <div class='col-span-3 object-center justify-center place-items-centers'>
        <Card>
          <Image src={myImage3} class="content-center justify-center" alt="Una descripci칩n de mi imagen." />
        </Card>
      </div>
      
    </section>

    <section class='mt-8 grid md:grid-cols-3 gap-8'>
      <div class='col-span-3 object-center justify-center place-items-centers'>  
        <RecentBlogPosts />
      </div>

    
    
      
    
  </main>
  
</Layout>

<BaseFooter />
